* {
  margin: 0;
  font-family: Noto Sans TC;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input, select {
  height: 40px;
  background: #ffff;
  border-radius: 4px;
  border: 1px solid #BFBFBF;
}

ul {
  padding-left: 0;
  margin: 0s;
}

li {
  list-style-type: none;
}

.bg-cover {
  background-size: cover;
}

.w-dot {
  background: #FFFFFF;
  box-shadow: 0px 0px 5px #FFFFFF;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 25px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  min-height: 300px;
}

.pay-s-c-img {
  display: none;
}

.pay-cc .pay-s-c-img {
  display: block;
}
.pay-cc .pay-s-c-img + p {
  display: none;
}

.pay-bg {
  background-image: url("../images/pay-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rwd-join-btn {
  background-image: url("../images/join-s.svg");
  padding: 0;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  font-size: 16px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
  padding: 10px;
  text-align: center;
  display: none;
}

.detail-share-btn-box {
  position: relative;
}

.bg {
  background-image: url("../images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.detail-box {
  align-items: center;
  padding-top: 20px;
}

.detail-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  z-index: 10;
}

.detail-share-btn {
  width: 39px;
  height: 39px;
  border-radius: 100%;
  background: #474a53;
  margin-right: 20px;
}

.title-box {
  padding: 86px 0 0 0;
}

.join-btn-s-box {
  padding: 86px 0 0 0;
}

.join-btn-box {
  width: 330px;
  align-items: center;
}

.join-btn {
  display: inline-block;
  padding: 11px 98px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  font-size: 26px;
  line-height: 38px;
  color: #fff;
  background-image: url("../images/join-l.png");
}
.join-btn:hover {
  color: #a5f9f9;
}

.time-count-item {
  color: #fff;
  font-size: 26px;
  margin: 0 5px 0 0;
}
.time-count-item:nth-child(2) {
  margin: 2px;
}

.time-count-txt {
  font-size: 16px;
}

.time-count-img {
  margin-right: 6px;
}

.time-count-box {
  padding: 13px 0 0 0;
}

.block-head-name {
  color: #fff;
  font-size: 30px;
  line-height: 43px;
}

.box2 {
  padding: 70px 150px;
}

.sp-img {
  border: 0px solid #fff;
  position: relative;
  left: -3px;
  top: -3px;
  z-index: 1;
}

.sp-label {
  cursor: pointer;
  display: none;
}

.sp-chk {
  display: none;
}
.sp-chk:checked + p {
  display: block;
}

.sp-dress-bar {
  width: 80px;
  height: 10px;
  background: #A5F9F9;
  position: absolute;
}
.sp-dress-bar:nth-child(1) {
  left: -40px;
  top: -1px;
}
.sp-dress-bar:nth-child(2) {
  bottom: -1px;
  right: -40px;
}

.sp-frame {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 1px solid #A5F9F9;
}

.sp-img-box {
  position: relative;
  z-index: 5;
}

.sp-name-box {
  padding: 30px 0;
  background: #A5F9F9;
}

.sp-title-main {
  font-size: 12px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.sp-item {
  cursor: pointer;
  position: relative;
  transition: all 0.2s linear;
}
.sp-item:hover {
  transform: translate(0px, -20px);
}
.sp-item:hover .sp-box {
  position: relative;
}
.sp-item:hover .sp-box:after {
  transform: translate(0px, 20px);
}
.sp-item:hover .sp-box:before {
  transform: translate(0px, 20px);
}

.sp-list {
  padding-bottom: 50px;
  margin-bottom: 15px;
}

.sp-des-txt-rwd {
  display: none;
}

.detail-s-box-1 {
  display: none;
}

div.sp-des-box-rwd.sp-des-box {
  display: none;
}

.sp-box {
  position: relative;
}
.sp-box:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #fff;
  position: absolute;
  bottom: -50px;
  left: 47px;
  transition: all 0.2s linear;
}
.sp-box:before {
  content: "";
  width: 1px;
  height: 84px;
  border-left: 1px solid #A5F9F9;
  position: absolute;
  bottom: -50px;
  left: 54px;
  transition: all 0.2s linear;
}

.sp-des-box {
  border: 1px solid #A5F9F9;
  height: 200px;
  align-items: stretch;
  position: relative;
}

.sp-des-txt {
  padding: 40px 0;
  color: #fff;
  width: 80%;
  position: relative;
  line-height: 24px;
  padding: 0 30px 0 200px;
}

.sp-title {
  color: #A5F9F9;
  font-size: 20px;
  line-height: 29px;
}

.sp-title-des {
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.sp-des-tri-box {
  position: absolute;
  left: 37px;
  height: 100%;
}

.sp-des-tri {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 21.7px;
  border-color: transparent transparent transparent #A5F9F9;
  margin-right: 10px;
  border-radius: 1px;
}

.sp-title-name-box {
  width: 40%;
  align-items: flex-start !important;
  padding-left: 50px;
}

.sp-gra-mask {
  background: linear-gradient(90deg, rgba(165, 249, 249, 0.4) 0%, rgba(165, 249, 249, 0) 100%);
  width: 192px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.sp-link {
  color: #A5F9F9;
  text-decoration: underline;
}

.ag {
  padding: 65px 0;
  position: relative;
}

.ag-box {
  width: 50%;
}

.ag-title {
  display: inline-block;
  text-shadow: 0px 0px 4px #FFFFFF;
  color: #A5F9F9;
  font-size: 20px;
  line-height: 29px;
  width: 255px;
  text-align: center;
  background-image: url("../images/Group739.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 0px;
}

.ag-ctn-box {
  margin-bottom: 130px;
}

.ag-title {
  position: relative;
}
.ag-title:before {
  content: "";
  position: absolute;
  width: 0;
  border: 3px dashed #fff;
  width: 120px;
  border-inline-end-width: revert;
  top: 50%;
  margin-top: -4px;
}
.ag-title:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  top: 50%;
  margin-top: -8px;
}

.ag-q {
  color: #fff;
  padding: 26px 0 0 0;
  text-shadow: 0px 0px 4px #FFFFFF;
}
.ag-q p {
  padding: 3px;
}

.ag-left-box {
  text-align: right;
  padding-right: 150px;
}

.ag-right-box {
  padding-left: 150px;
  position: relative;
}

.ag-center-bar {
  width: 0px;
  height: calc(100% - 310px);
  position: absolute;
  top: 102px;
  left: 50%;
  border-left: 5px solid #fff;
  box-shadow: 0px 0px 5px #FFFFFF;
}

.ag-right-s-box {
  padding-top: 0;
  position: relative;
  top: 15%;
}
.ag-right-s-box:nth-child(3) {
  margin: 0;
}
.ag-right-s-box .ag-title:before {
  left: -135px;
}
.ag-right-s-box .ag-title:after {
  left: -155px;
}

.ag-left-s-box {
  text-align: right;
}
.ag-left-s-box .ag-title:before {
  right: -140px;
}
.ag-left-s-box .ag-title:after {
  right: -160px;
}

.qrcode-box {
  padding: 20px;
}

.pay-now-box {
  width: 566px;
  margin: 95px auto 0;
  border: 1px solid #A5F9F9;
  padding: 27px 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.pay-now-box .d-bar {
  width: 80px;
  height: 10px;
  position: absolute;
  background: linear-gradient(270deg, #A5F9F9 0%, #ADFAFA 18%, #C3FBFB 46%, #E6FDFD 80%, #FFFFFF 100%);
}
.pay-now-box .d-bar:nth-child(1) {
  left: -40px;
  top: -1px;
}
.pay-now-box .d-bar:nth-child(2) {
  right: -40px;
  bottom: -1px;
}
.pay-now-box .d-q {
  width: 16px;
  height: 16px;
  background: #A5F9F9;
  position: absolute;
}
.pay-now-box .d-q:nth-child(3) {
  left: -43px;
  top: 46px;
}
.pay-now-box .d-q:nth-child(4) {
  right: -43px;
  top: 46px;
}

.pay-now-txt {
  color: #A5F9F9;
  text-shadow: 0px 0px 4px #FFFFFF;
  font-size: 36px;
  line-height: 52px;
}

.pay-now-des {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0;
}
.pay-now-des span {
  color: #A5F9F9;
}

.pay-now-btn {
  color: #fff;
  text-shadow: 0px 0px 4px #FFFFFF;
  font-size: 20px;
  line-height: 29px;
  display: inline-block;
  width: 160px;
  padding: 16px 0;
  background-image: url("../images/join-s.png");
  background-repeat: no-repeat;
}

.pay-box-title {
  padding: 51px 0 80px;
  color: #A5F9F9;
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;
  text-align: center;
}

.pay-status-box {
  height: 0;
  border-bottom: 3px solid #fff;
  box-shadow: 0px 0px 3px #FFFFFF;
  width: 700px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 60px;
}

.pay-status-dot-box {
  text-align: center;
}

.pay-select {
  color: #A5F9F9;
}

.pay-s-d-q {
  width: 30px;
  height: 30px;
  background: #616571;
  border: 1px solid #A5F9F9;
  position: relative;
}

.pay-s-d-txt {
  position: absolute;
  width: 170px;
  text-align: center;
  bottom: -60px;
}

.pay-step-box {
  width: 500px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 51px 0 200px;
}
.pay-step-box h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  padding: 0 0 37px 0;
}

.pay-qa-bg {
  background-image: url("../images/question1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pay-qa-box {
  width: 500px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
.pay-qa-box h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  padding: 37px 0;
}
.pay-qa-box p {
  text-align: left;
  line-height: 23px;
}

.box2-bg {
  margin-top: 200px;
}

.pay-step-btn {
  display: inline-block;
  text-align: center;
  padding: 7px 0;
  width: 232px;
  margin-top: 18px;
  background: #A5F9F9;
  color: #2E2E46;
  border-radius: 4px;
}

.pay-step-input-box {
  text-align: left;
}

.pay-step2-box {
  width: 630px;
}

.pay-step-input {
  width: 100%;
  margin: 20px 0 10px;
  text-indent: 8px;
  color: #BFBFBF;
  cursor: pointer;
  resize: none;
  border-radius: 4px;
}

.pay-step-input-s-box {
  margin: 0 0 30px 0;
}

.pay-step-area {
  padding: 8px;
}

.pay-step-p a {
  color: #A5F9F9;
  text-decoration: underline;
}

.p-s-c-box {
  width: 25%;
  margin: 10px 0;
}

.pay-step-check {
  padding: 20px 0 0 0;
}

.p-s-l {
  cursor: pointer;
}

.p-s-c {
  cursor: pointer;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  margin: 0 10px 0 0;
}
.p-s-c:checked {
  background-color: red;
}

.box4, .box5, .box6 {
  padding-bottom: 208px;
  position: relative;
}

.ab-frame {
  width: 40px;
  height: 40px;
  background-image: url("../images/Union.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.ab-frame-r2 {
  bottom: -15px;
  left: -15px;
}

.ab-frame.ab-frame-reverse {
  right: -15px;
  top: -15px;
  transform: rotate(180deg);
}

.ab-box {
  max-width: 650px;
  margin: 0 auto;
}

.ab-s-box {
  border: 1px solid #A5F9F9;
  margin-top: 30px;
  padding: 40px;
  position: relative;
}
.ab-s-box:nth-child(1) {
  margin-top: 65px;
}

.ab-p {
  line-height: 23px;
}

.ab-txt-box {
  color: #fff;
}

.ab-p1 {
  padding: 0 0 20px 252px;
}

.ab-txt-codefree {
  width: 55%;
}

.codefree-img {
  margin-top: -50px;
}

.codefree-link-btn-box {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #A5F9F9;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 0;
  border-right: 0;
}
.codefree-link-btn-box a {
  color: #A5F9F9;
  padding: 12px 60px;
  font-size: 20px;
}

.ab-logo-box {
  position: absolute;
  width: 300px;
  height: 100px;
  left: -48px;
  top: -30px;
}

.ab-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #178fac;
  background-image: url("../images/hiskio_logo_W.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center center;
}

.ab-logo-frame {
  background: transparent;
  border: 1px solid #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 5px;
  top: 5px;
}

.ab-img-box {
  margin-left: 30px;
  width: 45%;
  background: #fff;
  text-align: center;
  padding: 20px 18px;
}

.box6 {
  padding: 0 12%;
}

.book-box {
  padding: 0px 0 150px;
}

.donate-img-box {
  width: 50%;
  padding: 0 20px 30px 20px;
  text-align: center;
}
.donate-img-box img {
  display: inline-block;
}

.book-reward-title {
  font-weight: bold;
  font-size: 22px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

.donate-box {
  margin-top: 110px;
}

.ab-mask {
  background: linear-gradient(90deg, rgba(167, 249, 249, 0.98) 0%, rgba(183, 250, 250, 0.8) 4%, rgba(198, 251, 251, 0.63) 9%, rgba(212, 252, 252, 0.48) 14%, rgba(224, 253, 253, 0.35) 19%, rgba(234, 254, 254, 0.24) 25%, rgba(241, 254, 254, 0.15) 32%, rgba(248, 255, 255, 0.08) 39%, rgba(252, 255, 255, 0.03) 49%, rgba(254, 255, 255, 0.01) 63%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.67;
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.box8 {
  min-height: auto;
}

.book-img-box {
  width: 20%;
  text-align: center;
  margin-top: 60px;
}
.book-img-box img {
  display: inline-block;
}

.box8-bg {
  background-image: url("../images/foot1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cta-title {
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding: 65px;
}

.wrong-info {
  border: 3px solid #EB6767;
}

::placeholder {
  color: #BFBFBF;
  opacity: 1;
}

.color-w {
  color: #fff;
}

.item-center {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.fxm {
  display: -moz-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.fxmc-2 {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  -moz-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.fxmc {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -moz-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.flex-column {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
}

.fxcc {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.fxs {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.fx-col-verse {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
}

.flex-row {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  -moz-flex-direction: row;
}

.flex-row-reverse {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
}

.fxmb {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.fxm-around {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}

.flex-around {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}

.flex-between {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.flex-flow {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}

.left {
  float: left;
}

.right {
  float: right;
}

.between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}

.transition {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-ransition: all 0.3s linear;
}

.transition_1s {
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-ransition: all 1s linear;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.show-inline {
  display: inline-block;
}

.hide-opacity {
  opacity: 0;
  pointer-events: none;
}

.hide-opacity-none {
  opacity: 0;
  display: none;
}

.show-opacity {
  opacity: 1 !important;
  pointer-events: auto !important;
  display: block !important;
}

.show-opacity2 {
  opacity: 1;
  pointer-events: auto;
}

.pt50120 {
  padding: 50px 0 120px;
}

.pt20 {
  padding: 20px 0;
}

.btn {
  border-radius: 4px;
  position: relative;
}
.btn a {
  box-shadow: 1px 1px 1px #ccc;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  position: relative;
  font-size: 0.85rem;
}
.btn a:active {
  top: 1px;
  left: 2px;
}